{
  "presets": [
    [          
      "@babel/env",
      {
        "modules": false,
        "forceAllTransforms": true,
        "targets": {
          "browsers": "> 1%"
        },
        "useBuiltIns": "entry"
      }
    ],    
    "@babel/react"
  ]
}
