
@font-face {
    font-family: 'HighTide';
    src:  url('./HighTide-Demo.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src:  url('./Montserrat-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'HighTide';
    font-size: 16pt;
}
